html{
    min-width: 100%;
}
body {
    background: $g-back;
    background: $g-main;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $g-back;
    font-family: sans-serif;
    min-height: 100vh;
    overflow-x: hidden;

    cursor: vertical-text;
}

.body-height{
    min-height: 200vh;
}

::selection{
    background-color: $c-main-alpha;
}

ul{
    list-style: none;
    padding: 0;
}

.main-header{
    padding-top: 40px;
    margin-bottom: 20px;
}

.scroll{
    position: absolute;
    bottom: 3vh;
    opacity: 0.6;
    margin-top: 10px;
    transform: translate(-100%);
    &:before{
        content: '';
        position: absolute;
        border: solid grey;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 8px;
        transform: rotate(45deg);
        top: 0px;
        left: -40px;
    }
    &:after{
        content: '...';
    }
    &:hover{
        color: inherit;
        transition: all 0.1s ease;
        text-decoration: none;

        animation-name: glitch_opacity;
        animation-duration: 0.14s;
        animation-iteration-count: infinite;
        &:before{
            top: 2px;
            color: inherit;
            border-color: $c-main;
        }
    }
}

.clear{
    clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a:hover{
    color: $c-main;
}
