.glitch {
  position: relative;
  color: white;

  &:before,
  &:after {
      content: attr(data-text);
      position: absolute;
      // top: 0;
      width: 100%;
      // background: black;
      clip: rect(0, 0, 0, 0);
  }

  &:before {
      left: -1px;
      text-shadow: 1px 0 $glitch-red;
  }

  &:after {
      left: 1px;
      text-shadow: -1px 0 $glitch-blue;
  }

  &:hover {
      mix-blend-mode: lighten;
    &:before { // Rose.
      text-shadow: 5px 3px $glitch-red-a;
      animation: glitch-loop-1 0.4s infinite ease-in-out;
    }
    &:after { // Turquoise.
      text-shadow: -6px -2px $glitch-blue-a;
      animation: glitch-loop-2 0.8s infinite ease-in-out;
    }
  }
}

.glitch-cursor{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚫</text></svg>") 16 0,auto; /*!emojicursor.app*/
}
.glitch-cursor--second{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⏳</text></svg>") 16 0,auto; /*!emojicursor.app*/
}
