body{
    color: $t-main;
}
.baseline{
    color: $c-main;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 25px;
}
.logo{
    &__el{
        font-weight: bold;
        transition: all 0.1s ease;
        &--l{
            font-weight: lighter;
            color: $c-main;
        }
        &:hover{
            text-decoration: inherit;
            color: inherit;

            animation-name: glitch_opacity;
            animation-duration: 0.14s;
            animation-iteration-count: infinite;
        }
    }
    &:hover{
        color: inherit;
        text-decoration: inherit;
    }
}

.coord{
    text-align: center;
    display: block;
    // font-size: rem;
    &:hover{
        transition: all 0.1s ease;
        text-decoration: inherit;
        color: inherit;

        animation-name: glitch_opacity;
        animation-duration: 0.14s;
        animation-iteration-count: infinite;
    }
}

.title-section{
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: $s-title;
}

.desc{
    font-size: 4.2rem;
}

@media (min-width: 768px) {
    .baseline{
        color: $c-main;
        font-weight: 300;
        font-size: 1.6rem;
        margin-bottom: 40px;
    }
    .coord{
        font-size: inherit;
    }
}
