body{
    color: $t-main;
}
.baseline{
    color: $c-main;
    font-weight: 300;
    font-size: 1.6rem;
    margin-bottom: 40px;
}
.logo{
    font-weight: bold;
    &--l{
        font-weight: lighter;
        color: $c-main;
    }
}

.coord{
    text-align: center;
    display: block;
}

.title-section{
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: $s-title;
}

.desc{
    font-size: 4.2rem;
}
