// Gradient.
$g-back: rgb(43,43,43);
$g-back-alpha: rgba(43,43,43, 0.4);
$g-main: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(0,0,0,1) 100%);



// Colors.
$c-main: #1FD98A;
$c-main-alpha: rgba(31, 217, 138, 0.65);

// Text.
$t-main: #fff;

// Font.
$f-main: 'Montserrat', sans-serif;

// Shadows.
$s-title: 0px 6px 6px rgba(0, 0, 0, 0.15);
$s-project: 0px 6px 6px rgba(0, 0, 0, 0.5);

// Glitch.
$glitch-red: rgba(#ed6fc1, 0.8);
$glitch-blue: rgba(turquoise, 0.7);

$glitch-red-a: rgba(#ed6fc1, 0.4);
$glitch-blue-a: rgba(turquoise, 0.35);

// Slider.
$slider-transi: 0.7s;
